.routine-list
  - @user.routines.each do |routine|
    .routine
      .routine__text-box
        .routine__text-box__content
          = routine.content
        .routine__text-box__start-date
          = "#{routine.created_at.strftime('%Y/%m/%d')} 開始"