.user-header.user-header--fixed
  .user-header__left
    = render "user_info"
  
  .user-header__center
    - if @user.id == current_user.id
      = render "users/routines_myself"
    - else
      = render "users/routines_others"

.index-title
  フォロー中
.user-list.user-list--down
  = render "user_index", { users: @follow_users, showing_user: @user }