.home-title
  = icon('fa', 'check', class: "task-icon")
  継続しよう
.image_mask
  = image_tag asset_path('top-page-background.png')
.home-contents
  #login-btn.btn
    ログイン
  #signup-btn.btn
    新規登録

#new-registration.form
  = render "sign_up_modal"

#new-session.form
  = render "login_modal"