* {
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

header {
  background-color: $dark_blue;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 40px;
  opacity: 0.98;
  
  .nav-bar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    line-height: 40px;

    #logo {
      color: white;
      width: 120px;
      margin-left: 20px;
      font-size: 18px;
    }

    .menu-list {
      display: flex;

      &__menu {
        color: white;
        margin-right: 20px;
        
      }

      .bell-mark {
        font-size: 20px;
        margin-left: -5px;
      }
    }
  }
}

#modal-wrapper {
  background-color: rgb(51, 50, 50);
  position: fixed;
  z-index: 15;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  display: none;
}

.contents {
  background-color: white;
  width: 100%;
  padding-top: 40px;
}