.user-header {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 160px;
  margin: 0 auto;
  border: 1px solid lightskyblue;

  &--fixed {
    position: fixed;
    z-index: 5;
  }

  &__left {
    display: flex;
    align-items: center;

    .user-menu-list {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100px;
      margin-right: 10px;
      font-size: 12px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      .user-menu {
        display: flex;
        justify-content: space-between;
        padding: 3px;
      }

      .menu-link:hover {
        background-color: $light_skyblue;
        border-radius: 5px;
      }
    }

    .user-box {
      display: flex;
      flex-direction: column;
      margin: 0 15px 0 5px;

      .user-info {

        &__name {
          text-align: center;
        }

        &__img {
          background-color: white;
          width: 100px;
          height: 100px;
          margin: 0 auto;
          border-radius: 50%;
          border: 1px solid lightskyblue;

          img {
            border-radius: 50%;
          }
        }

        &__edit {
          background-color: rgba(255, 255, 255, 0.733);
          position: absolute;
          top: 20px;
          left: 30px;
          display: none;
          width: 40px;
          font-size: 12px;
          text-align: center;
          border-radius: 5px;
        }

        &--link:hover {
          background-color: $light_skyblue;
          position: relative;
          border-radius: 5px;
          .user-info__edit {
            display: block;
          }
        }
      }

      .follow-content {
        margin: 3px auto 0;

        .follow-btn {
          padding: 5px;
          border: 1px solid lightskyblue;
          border-radius: 25px;
          font-size: 14px;
          line-height: 25px;
          text-align: center;
          
          &--off {
            background-color: white;
            &:hover {
              background-color: $light_skyblue;
            }
          }

          &--on {
            background-color: $follow_blue;
            color: white;
            &:hover {
              background-color: $folow_blue_hover;
            }
          }
        }
      }
    }
  }

  &__center {
    background-color: white;
    max-width: 800px;
    width: 50%;
    height: 150px;
    border: 1px solid lightskyblue;
    text-align: center;
    
    #new-routine-icon {
      color: $dark_blue;
      margin: 0 auto;
      font-size: 20px;
      cursor: pointer;
    }

    .routine-list {
      width: 96%;
      margin: 0 auto;
      padding: 10px 5px 0;
      text-align: left;
      ::-webkit-scrollbar {
        display: none;
      }

      &__message {
        color: gray;
        height: 20px;
        margin-bottom: 5px;
        text-align: center;
      }

      .routine {
        background-color: rgb(238, 252, 255);
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 35px;
        margin-bottom: 10px;
        padding: 0 5px;
        box-shadow: 1px 1px 3px lightslategray;
        border: 1px solid lightskyblue;  
        line-height: 33px;

        &__text-box{
          display: flex;
          justify-content: space-between;
          width: calc(100% - 40px);

          &__content {
            width: 80%;
            font-size: 18px;
            overflow-x: auto;
            white-space: nowrap;
          }
          &__start-date {
            width: 20%;
            padding: 0 5px;
            font-size: 10px;
            text-align: end;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

        &__icons {
          .routine__icon {
            color: $dark_blue;
            &--edit {
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  &__right {
    height: 150px;
    width: 125px;
    border: 1px solid lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5px;
    white-space: nowrap;
    overflow-x: scroll;

    .continuous-days {
      text-align: center;

      .count-top {
        margin: 25px auto 0;
        width: 100%;
        display: flex;
        justify-content: center;
        line-height: 50px;

        .count {
          font-size: 50px;
          color: $good_job_red;
        }
        .unit {
          font-size: 16px;
          margin-left: 5px;
        }
      }

      .text {
        width: 100%;
      }
    }

    .done-days {
      width: 100%;
      font-size: 12px;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}

.index-title {
  background-color: white;
  border-bottom: 1px solid lightgray;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 35px;
  margin-top: 160px;
  text-align: center;
  padding: 5px;
  display: flex;
  justify-content: center;

  &--off {
    color: lightgray;
    &:hover {
      background-color: rgb(240, 240, 240);
      color: rgb(190, 190, 190);
      border-radius: 5px;
    }
  }
  
  .follow {
    margin-right: 25px;
  }
}