.user-list {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}

.user-list-window {
  padding-top: 220px;
}

.user {
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px 20px 10px 10px;
  box-shadow: 1px 1px 3px lightslategray;
  border: 1px solid lightskyblue;

  &__left {
    width: 125px;
    margin: auto 0;
    
    .user-info {
      text-align: center;
      
      &--link:hover {
        background-color: $light_skyblue;
        border-radius: 5px;
      }

      &__image {
        background-color: white;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        border: 1px solid lightskyblue;
        border-radius: 50%;
        
        img {
          border-radius: 50%;
        }
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    width: 75%;

    .routine-list {
      width: 100%;
      max-height: 140px;
      padding: 10px 10px 0;
      border: 1px solid lightskyblue;
      overflow-y: scroll;

      .routine {
        background-color: rgb(238, 252, 255);;
        height: 30px;
        margin-bottom: 10px;
        padding-left: 10px;
        box-shadow: 1px 1px 3px lightslategray;
        border: 1px solid lightskyblue;
        line-height: 30px;
        
        &--none {
          background-color: rgb(228, 228, 228);
          color: gray;
        }
      }
    }
  
    .follow-content {
      margin: 0 0 10px auto;

      .follow-btn {
        padding: 5px;
        border: 1px solid lightskyblue;
        border-radius: 25px;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
        
        &--off {
          background-color: white;
          &:hover {
            background-color: rgb(211, 238, 255);
          }
        }
        
        &--on {
          background-color: $follow_blue;
          color: white;
          &:hover {
            background-color: $folow_blue_hover;
          }
        }
      }
    }
  }
}