$dark_blue: rgb(0, 91, 165,);
$good_job_red: rgb(252, 77, 135);
$border_gray: rgb(119, 119, 119);
$light_skyblue: rgb(236, 248, 255);
$follow_blue: rgb(63, 179, 252);
$folow_blue_hover: rgb(97, 192, 252);