* {
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

header {
  background-color: rgb(0, 91, 165,);
  opacity: 0.98;
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0;
  z-index: 1;
  
  .nav-bar {
    display: flex;
    text-align: center;
    line-height: 40px;
    justify-content: space-between;

    .logo {
      color: white;
      width: 120px;
      margin-left: 20px;
    }

    .menu-list {
      display: flex;

      &__menu {
        color: white;
        margin-right: 20px;
        
      }
    }
  }
}

.modal-wrapper {
  position: fixed;
  z-index: 2;
  background-color: gray;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  display: none;
}

.contents {
  background-color: white;
  width: 100%;
  padding-top: 40px;
}