.flash {
  color: white;
  text-align: center;
  line-height: 30px;
  height: 30px;
  width: 100%;
  &__alert{
    background-color: #ff5c7a;
  }
  &__notice {
    background-color: lightskyblue;
  }
}