.form {
  background-color: white;
  border: 2px solid rgb(81, 166, 236);
  box-shadow: 3px 3px 10px gray;
  width: 600px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  position: fixed;
  padding-top: 20px;

  .close-btn {
    position: absolute;
    right: 0;
    top: -5px;
    display: block;
    width: 20px;
    text-align: end;
    font-size: 25px;
    margin: 10px 10px 0 auto;
    color: lightgray;
    cursor: pointer;
    &:hover {
      color: gray;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightsteelblue;
    margin: 0 20px 0;
    align-items: center;

    &--active {
      font-size: 20px;
      padding-bottom: 15px;
    }
    &--other {
      font-size: 14px;
      margin-right: 20px;
      color: lightgray;
      cursor: pointer;
      &:hover {
        color: gray;
      }
    }
  }

  .field {
    margin: 40px 20px;
    color: gray;
    
    input {
      width: 100%;
      padding: 10px;
    }
  }
  .actions {
    padding-top: 10px;

    .submit-btn {
    background-color: rgb(81, 183, 247);
    color: white;
    border-style: none;
    width: 100%;
    padding: 20px;
    cursor: pointer;
      &:hover {
        background-color: rgb(109, 197, 252);
      }
    }
  }
  #error_explanation {
    border: 1px solid rgb(255, 60, 0);
    padding: 20px;
    margin: 20px 20px 0;

    h3 {
      border-bottom: 1px solid lightsteelblue;
    }
    ul {
      margin-top: 10px;
      padding-left: 10px;
      li {
        list-style: disc;
      }
    }
  }
}

