.task-list {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
  &--down {
    padding-top: 200px
  }

  .task {
    background-color: white;
    border: 1px solid lightskyblue;
    box-shadow: 1px 1px 3px lightslategray;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
      width: 125px;
      
      .user-info {
        text-align: center;
        padding: 10px 0;
        
        &--link:hover {
          background-color: rgb(240, 240, 240);
          border-radius: 5px;
        }

        &__name {

        }

        &__image {
          margin: 0 auto;
          background-color: white;
          height: 100px;
          width: 100px;
          border-radius: 50%;
          border: 1px solid lightskyblue;
          
          img {
            border-radius: 50%;
          }
        }
      }
    }

    &__right {
      width: 85%;
      background-color: white;
      border: 1px solid lightskyblue;

      .task__main {
        padding: 10px 0 0 10px;
        display: flex;

        &__left-box {
          background-color: white;
          border: 1px solid lightskyblue;
          width: 25%;
          margin-bottom: 10px;
          height: 150px;
          position: relative;

          .date {
            font-size: 16px;
          }
            
          .score-icon {
            font-size: 100px;
            width: 100px;
            position: absolute;
            top: 30px;
            left: 50%;
            transform : translateX(-50%);
            text-align: center;
            overflow: hidden;
            
            &--done {
              color: greenyellow;
              opacity: 0.7;
            }

            &--bad {
              color: red;
              opacity: 0.6;
            }
          }
            
          
          .body {
            position: absolute;
            top: 25px;
            height: 125px;
            width: 100%;
            overflow: scroll;
            word-wrap: break-word;
          }
        }

        &__right-box {
          width: 75%;
          margin-left: 10px;
          display: flex;
          flex-flow: column;
          justify-content: space-between;	

          .routine-list {
            border: 1px solid lightskyblue;
            max-height: 140px;
            overflow-y: scroll;
            padding: 10px 10px 0;
            margin-right: 10px;

            .routine {
              background-color: rgb(238, 252, 255);;
              box-shadow: 1px 1px 3px lightslategray;
              border: 1px solid lightskyblue;
              height: 30px;
              line-height: 30px;
              margin-bottom: 10px;
              padding-left: 10px;

              &--none {
                background-color: rgb(228, 228, 228);
                color: gray;
              }
            }
          }

          .good-job {
            display: flex;
            margin: 5px 5px 5px auto;
            padding: 2px 5px 0;
            border: 1px solid;
            border-radius: 15px;

            &--on {
              color: rgb(252, 77, 135);
            }

            &--off {
              color: lightskyblue;
            }
            
            &__btn {
              margin-right: 5px;
              font-size: 18px;
              
            }
            &__count {
              font-size: 16px;
            }
          }
        }
      } 
    }
  }
}