* {
  box-sizing: border-box;
}

.simple-calendar {
  .calendar-heading {
    text-align: center;
  }
  
  table {
    margin: 0 auto;
    max-width: 1000px;
    
    thead th {
      text-align: center;
      border: 1px solid #333333;
    }
    td {
      border: 1px solid #333333;
      padding: 0;
      :hover {
        border: 3px solid lightskyblue
      }
    }
    .day {
      height: 120px;
      padding: 0 2px;
      position: relative;
      font-size: 13px;
      :hover {
        border: none;
      }
      .edit_link {
        position: absolute;
        right: 5px;
      }
      .new_task_link {
        height: 100px;
        width: 100%;
      }
      .holiday_name {
        float: right;
        color: lightcoral;
      }
      .task_body {
        position: absolute;
        top: 20px;
        height: 100px;
        width: 100%;
        word-wrap: break-word;
        overflow: scroll;
      }
      .task-icon {
        position: absolute;
        top: 20px;
        left: 50%;
        transform : translateX(-50%);
        text-align: center;
        font-size: 100px;
        width: 100%;
        overflow: hidden;

        &--check {
          color: greenyellow;
          opacity: 0.7;
        }
        &--bad {
          color: red;
          opacity: 0.6;
        }
        &--hidden {
          opacity: 0;
        }
      }
        
    }
  }

  .wday-0 {
    background-color: rgba(255,0,0,0.1);
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {
    background-color: rgba(0,0,255,0.1);
  }

  .today {}
  .past {
    
  }
  .future {}

  .start-date {}

  .prev-month {
    background-color: lightgray;
    opacity: 0.4;
  }
  .next-month { 
    background-color: lightgray;
    opacity: 0.4;
  }
  .current-month {}

  .has-events {}
}