@mixin line_up_side($justify-content) {
  display: flex;
  align-items: center;
  justify-content: $justify-content;
}

@mixin line_up_vertical($justify-content) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
}

@mixin line_up_vertical_side-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin category-select() {
  lavel {
    margin-left: 30px;
  }

  select {
    background: none;
    width: 100px;
    height: 30px;
    cursor: pointer;
  }
}